<h1>Editar Sitio</h1>

<%= render 'form' %>

<br>

<%= link_to 'Ver', @sitio, :class => 'btn btn-info btn-block' %>

<br>

<%= link_to 'Inicio', sitios_path, :class => 'btn btn-info btn-block' %>

<br>

